.navbar {
    text-align: center;
    font-size: 20px;
    background-color: #013537;
    color: white;
    justify-content: space-evenly;
}

.navlink {
    display: inline;
    padding-right: 1rem;
}

a.disabled {
    pointer-events: none;
    color: white;
}